<h3>Datos de la persona</h3>
<p>Mensaje: @ViewBag.Mensajito</p>
<p>Edad: @ViewBag.edad</p>
<p>Nombre completo: @ViewBag.Nombrecompleto</p>
<p>Casado: @ViewBag.casado</p>
<p>Estatura: @ViewBag.estatura</p>
<p>Fecha de nacimiento: @ViewBag.fechaNacimiento.ToString("dd/MM/yyyy") </p>